<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665160386322-5t2nnl6r9rellj1a7d64g53pgdmj4vbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665160386322-5t2nnl6r9rellj1a7d64g53pgdmj4vbu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>665160386322-639h1r342egsvibih9ithdipolkv1ou0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWGt0sWUYrQrYi0e65E7lbAdPzJvJ0BJM</string>
	<key>GCM_SENDER_ID</key>
	<string>665160386322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meetqa</string>
	<key>PROJECT_ID</key>
	<string>meetqa-1283d</string>
	<key>STORAGE_BUCKET</key>
	<string>meetqa-1283d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665160386322:ios:dc04c66c4dc4336abad5cb</string>
</dict>
</plist>